{% extends "layout.html" %}

{% block content %}
    <main class=".main-padding other">
        <div class="text-center trt1">
            <h1 class="title">О нас</h1>
        </div>
        <div class="trt2">
            <div class="text-center container">
                <h2 class="title">Наша цель</h2>
                <h3>С самого зарождения нашей команды, нашей целью является создание удобных и многофункциональных сайтов для частных клиентов. Наши сайты просты в использовании и имеют удобный интерфейс</р>
            </div>
        </div>
    </main>
{% endblock %}