<footer>
    <div class="row justify-content-md-center footer-h">
        <div class="footer-el col-sm d-flex justify-content-around">
            <div class="d-flex flex-column mb-3">
                <span class="footer-el">Все права защищены. 2023</span>
                <span class="footer-el">CHELLI</span>
                <a href="/about" class="footer-btn footer-el">Главная</a>
            </div>
            <div class="d-flex flex-column mb-3">
                <a href="/about" class="footer-btn footer-el">О нас</a>
                <a href="/about" class="footer-btn footer-el">Вакансии</a>
                <a href="/about" class="footer-btn footer-el">Состав</a>
            </div>
            <div class="d-flex flex-column mb-3">
                <span class="footer-el">Скоро здесь будут наши соцсети</span>
            </div>
        </div>
    </div>
</footer>