{% extends "layout.html" %}

{% block content %}
    <main class="index">
        <div class="text-center trt1">
            <img src="/static/img/logo.png" alt="" class="logo">
            <h1 class="title">CHELLI</h1>
            <h4 class="title-desc">Мы команда, занимающаяся разработкой сайтов под заказ</h4>
        </div>
        <div class="text-center trt2">
            <h2 class="title">Наши преимущества</h2>
            <div class="trt2-prem">
                <h3>Лучшее качество</h3>
                <p>Опыт работы более 5 лет. Наши специалисты и разработчики мастера в своём деле.</p>
            </div>
            <div class="trt2-prem">
                <h3>Низкая цена</h3>
                <p>В отличие от конкурентов мы не завышаем цены, так как нам важна наша репутация</p>
            </div>
            <div class="trt2-prem">
                <h3>Быстрые сроки</h3>
                <p>Сделаем вам сайт под ключ за 3 рабочих дня. Качество от этого не теряется</p>
            </div>
        </div>
    </main>
{% endblock %}